<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Course",
  "name": "Introduction to Digital Humanities",
  "description": "This course provides a comprehensive overview of digital humanities, covering key topics, tools, and methodologies.",
  "provider": {
    "@type": "Organization",
    "name": "Princeton University",
    "url": "https://www.princeton.edu"
  },
  "hasCourseInstance": {
    "@type": "CourseInstance",
    "courseMode": "Onsite"
    },
    "startDate": "2024-09-01",
    "endDate": "2024-12-15",
    "instructor": {
      "@type": "Person",
      "name": "Wouter Haverals",
      "description": "Associate Research Scholar at Princeton University"
    }
}
</script>
